*{
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background: rgba(0, 0, 0, 0.5);
  /* background-repeat: no-repeat; */
  padding: 10px;
}


.login{
  background-image: url(C:\Users\KITS\atmos_form_dev\user_app\src\assets\images\beautiful-nature-view-green-leaf-on-blurred-greenery-background-under-sunlight-with-bokeh-and-shadow-and-copy-space-using-as-background-natural-plants-landscape-ecology-wallpaper-conc.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.loginform{
  /* background: rgba(0, 0, 0, 0.5); */
  opacity: 1;
  /* border: 1px solid #ccc; */
  color: #8bbd97;
}


input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* margin: 10px; */
}