*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.resetpassword{
    background-image: url(C:\Users\KITS\atmos_form_dev\user_app\src\assets\images\beautiful-nature-view-green-leaf-on-blurred-greenery-background-under-sunlight-with-bokeh-and-shadow-and-copy-space-using-as-background-natural-plants-landscape-ecology-wallpaper-conc.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .resetpasswordform{
    /* background-color: rgba(0, 0, 0, 0.5); */
    opacity: 1;
    color: white;
    /* border: 1px solid #ccc; */
  }